@media screen and (max-width: 576.99px) {
  h4 {
    font-size: 20px;
  }

  /*Navbar*/

  .navbar-brand {
    font-size: 30px;
  }

  /*Menu section*/

  .menu-section {
    margin-bottom: 20%;
  }

  .menu-courses {
    width: 90%;
    margin-top: 10%;
    margin-bottom: 5%;
    position: relative;
    left: 12%;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .two {
    padding-right: 30px;
  }

  .menu-heading,
  .menu-price {
    font-size: 20px;
  }

  .menu-description {
    font-size: 15px;
  }

  .menu-btn div.row {
    position: relative;
    left: 10px;
  }
  .menu-div.two {
    padding-left: 0px !important;
  }

  .triangle {
    top: 50px;
  }

  /*Featured  dishes section*/

  .subheading-wrapper {
    height: 30px;
    margin-bottom: 20px !important;
  }

  .featured-dishes-section {
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 10%;
    width: 90%;
  }

  .card {
    width: 50%;
    margin-top: 20px;
  }
  img.card-img-top {
    height: 200px;
  }

  p.course-name,
  span.course-price {
    font-size: 18px !important;
  }

  /*About us section*/

  .about-us-section {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 85%;
    margin-bottom: 10%;
  }

  .first.col-sm-12.col-md-4 {
    padding: 0;
  }
  .second.col-sm-12.col-md-6 {
    padding: 0;
  }

  div.blockquote {
    height: 150px;
  }

  blockquote:after {
    font-size: 100px;
    float: right;
    bottom: 90px;
    right: 10px;
  }

  blockquote:before {
    font-size: 100px;
    left: 50px;
  }
  cite {
    bottom: 80px;
    left: 19%;
    font-size: 20px;
    text-align: center;
  }

  .about-us-line-hr {
    width: 100%;
  }
  .about-us-line-hr hr {
    position: relative;
    width: 100%;
    left: 120px;
    bottom: 30px;
  }

  .info-about-us .list {
    padding-left: 6.5%;
    padding-top: 10%;
    padding-bottom: 10%;
  }

  /*Gallery section*/

  .the-gallery-section div.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    width: 91%;
    margin-bottom: 10%;
  }

  /*Footer section*/
  footer div.container.row {
    padding-left: 8%;
  }

  .example-image {
    height: 16em;
  }

  /*Footer*/

  .footer-col {
    width: 50%;
  }
}
@media screen and (min-width: 577px) and (max-width: 768.99px) {
  h4 {
    font-size: 20px;
  }

  .subheading-wrapper {
    height: 30px;
    margin-bottom: 40px !important;
    width: 91%;
    position: relative;
    left: 3.5%;
  }

  /*Navbar*/

  .navbar-brand {
    font-size: 30px;
  }

  /*Carousel section*/

  .heading {
    font-size: calc(2.2em + 1vw);
  }
  .description {
    font-size: calc(0.3em + 1vw);
    word-wrap: nowrap;
  }

  /*Menu section*/

  .menu-section {
    margin-bottom: 20%;
  }

  .menu-courses {
    width: 90%;
    margin-top: 10%;
    margin-bottom: 5%;
    position: relative;
    left: 13%;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .two {
    padding-right: 30px;
  }

  .menu-section.container {
    padding-left: 0 !important;
    position: relative;
  }

  .menu-course-info {
    padding-left: 0;
    padding-right: 0;
  }

  .menu-div {
    padding-left: 0;
  }
  .menu-course-btn {
    font-size: 12px;
    font-family: var(--cormorantFont);
    letter-spacing: 2px;
  }

  div.menu-btn {
    display: flex;
    justify-content: space-evenly;
  }

  .menu-price {
    text-align: center;
  }

  .down {
    left: 10px;
  }

  .line-hr hr,
  .gallery-line hr,
  .featured-dishes-line-hr hr {
    width: 20%;
  }

  .img-wrapper img {
    height: 100%;
    object-fit: cover;
  }

  .menu-heading,
  .menu-price {
    font-size: 20px;
  }

  .menu-description {
    font-size: 15px;
  }

  .triangle {
    top: 50px;
  }

  /* Featured dishes section*/

  .featured-dishes-section {
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 10%;
    width: 90%;
  }

  .course-info .course-name,
  .course-price,
  .course-likes,
  .course-likes-num {
    font-size: calc(0.4em + 1vw);
  }

  .card {
    width: 50%;
    margin-top: 20px;
  }

  img.card-img-top {
    height: 200px;
  }

  p.course-name,
  span.course-price {
    font-size: 18px !important;
  }

  /*About us section*/

  div.info-about-us.container.row {
    padding-left: 0;
  }

  .about-us-section {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 75%;
  }

  .heading-about-us.container {
    padding: 0;
  }

  .about-us-line-hr hr {
    width: 20%;
  }

  div.blockquote {
    height: 150px;
  }

  blockquote:after {
    font-size: 100px;
    float: right;
    bottom: 90px;
    right: 10px;
  }

  blockquote:before {
    font-size: 100px;
    left: 50px;
  }
  cite {
    bottom: 80px;
    left: 19%;
    font-size: 20px;
    text-align: center;
  }

  .info-about-us .list {
    padding-left: 25px;
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .second.col-sm-12.col-md-6 {
    padding: 0;
  }

  /*Gallery section*/

  .the-gallery-section {
    margin-top: 5%;
    margin-bottom: 10%;
    width: 76%;
    position: relative;
    left: 12%;
  }

  .img-wrapper-first {
    height: 19em;
    width: auto;
    overflow: hidden;
    object-fit: cover;
  }

  /*Footer section*/

  footer div.container.row ul li,
  footer div.container.row div h5 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  footer div.col-sm-12 {
    display: flex;
    justify-content: center;
    padding: 0px 12%;
  }

  footer div.brand-col h5 span {
    display: flex;
    flex-direction: column;
    justify-content: left;
  }

  .brand-col h5 span a {
    display: flex;
    align-items: left;
  }
}
@media screen and (min-width: 769px) and (max-width: 992.99px) {
  .navbar-brand {
    font-size: 40px;
  }
  .menu-section {
    margin-bottom: 10%;
  }
  .menu-courses {
    width: 90%;
    margin-top: 10%;
    margin-bottom: 5%;
    position: relative;
    left: 13%;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .menu-section.container {
    padding-left: 0 !important;
    position: relative;
    right: 10px;
  }
  .menu-course-btn {
    font-size: 12px;
    font-family: var(--cormorantFont);
    letter-spacing: 2px;
  }

  div.menu-btn {
    display: flex;
    justify-content: space-evenly;
  }

  .two {
    padding-right: 30px !important;
  }

  .menu-heading {
    font-size: 20px;
  }

  .menu-description {
    font-size: 15px;
  }
  .menu-price {
    font-size: 20px;
    text-align: center;
  }

  .menu-div {
    padding-left: 0;
    padding-right: 0;
  }

  .the-menu {
    position: relative;
    left: 2px;
  }

  .triangle {
    top: 50px;
  }
  .down {
    left: 10px;
  }

  .line-hr hr,
  .gallery-line hr,
  .featured-dishes-line-hr hr {
    width: 100%;
  }

  /*Featured dishes*/

  .card {
    width: 50%;
    margin-top: 20px;
  }
  img.card-img-top {
    height: 250px;
  }

  p.course-name,
  span.course-price {
    font-size: 15px;
  }

  span.course-likes-num {
    font-size: 12px;
  }

  .featured-dishes-section {
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 10%;
    width: 85%;
  }

  p.course-name,
  span.course-price {
    font-size: 19px !important;
  }

  .course-likes .course-likes-num {
    font-size: 16px;
  }

  /*About us section*/

  .about-us-section {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 75%;
  }

  .about-us-line-hr hr {
    width: 20%;
    position: relative;
    bottom: 33px;
    left: 125px !important;
    .heading-about-us.container {
      padding: 10px 0px;
    }
  }
  div.info-about-us.container.row {
    height: 250px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    padding-left: 0;
    font-size: 15px;
  }

  .first hr {
    margin: 30px 0;
  }
  .second.col-sm-12.col-md-6 {
    padding-left: 15px;
  }
  .list.col-sm-12.col-md-6 {
    padding-left: 5%;
    padding-top: 10px;
  }

  div.blockquote {
    height: 250px;
  }

  blockquote:before {
    font-size: 100px;
    /* top: 50px; */
    right: 40px;
  }

  blockquote:after {
    font-size: 100px;
    float: right;
    left: 70px;
    bottom: 60px;
  }

  cite {
    bottom: 60px;
    left: 10px;
    font-size: 17px;
    text-align: center;
  }

  .info-about-us .list {
    padding-left: 25px;
    padding-top: 5%;
    padding-bottom: 10%;
  }
  /*Gallery section*/

  .the-gallery-section {
    margin: 0;
    width: 74%;
    position: relative;
    left: 13%;
    margin-bottom: 10%;
  }

  .the-gallery-section div.container .gallery.row.container {
    display: flex;
    justify-content: center;
    position: relative;
    left: 25px;
    padding-right: 40px;
  }

  .gallery-hr {
    position: relative;
    width: 20%;
    left: 165px;
    bottom: 31px;
  }

  .img-wrapper-first svg.bi.bi-search {
    position: absolute;
    left: 40%;
    top: 200%;
  }

  .img-wrapper svg.bi.bi-search {
    position: absolute;
    left: 40%;
    top: 38%;
  }

  .img-wrapper-first {
    height: 4em;
    width: auto;
    object-fit: contain;
  }

  div.container.row {
    display: flex;
    justify-content: center;
    padding-left: 30px;
  }

  div.gallery.row {
    padding: 0;
    overflow: hidden;
  }

  /*Footer section*/

  .footer .col-md-12 {
    display: flex;
    justify-content: center;
  }

  .footer .brand-col h5 {
    position: relative;
    right: 15px;
  }

  .footer-content {
    width: 85%;
    left: 5%;
    position: relative;
  }

  div.container.row .footer-col,
  .brand-col h5 {
    font-size: 15px;
  }

  .footer div.row {
    justify-content: flex-start;
    padding-left: 7%;
  }

  .brand-col h5 .brand {
    font-size: 40px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1140.99px) {
  .navbar-brand {
    font-size: 40px;
  }
  .navbar-nav {
    font-size: 20px;
  }
  /*Menu section*/
  .menu-div {
    margin-top: 10%;
    padding: 0;
    position: relative;
    width: 100%;
  }

  .two {
    padding-right: 30px;
  }

  .padd {
    margin-top: 0;
  }
  .menu-courses {
    margin: 0;
    padding-left: 60px;
    padding-right: 20px;
    justify-content: center;
    position: relative;
    left: 4%;
  }

  .menu-heading {
    font-size: 22px;
  }

  .menu-description {
    font-size: 18px;
  }
  .menu-price {
    text-align: center;
    padding: 0;
    font-size: 22px;
  }

  .triangle {
    top: 50px;
  }

  /*Featured dishes section*/

  .featured-dishes-section {
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 10%;
    width: 85%;
  }

  p.course-name,
  span.course-price {
    font-size: 20px !important;
  }

  /*About us section*/

  .about-us-line-hr hr {
    width: 20%;
  }

  .about-us-section {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 80%;
  }

  div.info-about-us.container.row {
    height: 200px;
    position: relative;
    display: flex;
    justify-content: space-around;
  }

  .first hr {
    margin: 3rem 0;
  }

  .list.col-sm-12.col-md-6 {
    padding: 0;
    padding-left: 30px;
    top: 40px;
  }

  blockquote:before {
    position: relative;
    top: 30px;
    left: 40px;
    font-size: 130px;
  }

  blockquote:after {
    position: relative;
    float: right;
    bottom: 90px;
    font-size: 130px;
  }

  cite {
    text-align: center;
    position: relative;
    left: 80px;
    bottom: 80px;
    width: 80%;
    font-size: 20px;
  }

  /*Gallery section*/

  .the-gallery-section {
    width: 76%;
    padding: 0;
    position: relative;
    left: 12%;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .img-wrapper-first {
    height: 4em;
    width: auto;
    object-fit: contain;
  }

  img.card-img-top {
    height: 190px;
    overflow: hidden;
  }

  .card {
    height: 25em;
  }

  p.course-name,
  span.course-price {
    font-size: 18px;
  }

  span.course-likes-num {
    font-size: 15px;
  }

  svg.bi.bi-search {
    top: 350%;
  }

  /*Footer section*/

  .footer .col-md-12 {
    display: flex;
    justify-content: center;
  }

  .footer div.container.row {
    padding: 0 5%;
  }

  .footer .brand-col h5 {
    position: relative;
    right: 25px;
  }

  .brand-col h5 .brand {
    font-size: 45px;
  }

  div.container.row .footer-col,
  .brand-col h5 {
    font-size: 15px;
  }
}
@media screen and (min-width: 1141px) and (max-width: 1200.99px) {
  .navbar-brand {
    font-size: 40px;
  }
  /*Menu section*/

  .menu-div {
    padding: 0;
    position: relative;
    width: 100%;
  }

  .menu-div.two {
    padding-right: 30px !important;
  }
  .menu-courses {
    margin: 0;
    justify-content: center;
    margin-top: 10%;
    padding-left: 0px !important;
    padding-right: 0 !important;
  }
  .menu-heading {
    font-size: 25px;
  }

  .menu-description {
    font-size: 20px;
  }

  div.line {
    position: relative;
    top: 50px;
  }

  .menu-price {
    text-align: center;
    font-size: 25px;
    padding-left: 50px;
  }

  .triangle {
    top: 50px;
  }
  /*Featured dishes section*/

  .featured-dishes-section {
    padding-left: 1%;
    padding-right: 3%;
    margin-top: 10%;
    width: 100%;
  }

  img.card-img-top {
    height: 190px;
  }

  .card {
    height: auto;
  }

  p.course-name,
  span.course-price {
    font-size: 20px !important;
  }

  /*About us section*/

  .about-us-section {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 80%;
  }
  .about-us-line-hr hr {
    width: 20%;
    left: 120px;
    bottom: 29px;
  }

  .subheading-wrapper-about-us .about-us-line-hr hr {
    position: relative;
    left: 170px;
    bottom: 35px;
  }

  div.info-about-us.container.row {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    padding-left: 0;
  }

  .first hr {
    margin: 3rem 0;
  }
  .second.col-sm-12.col-md-6 {
    padding-left: 30px;
  }

  .list.col-sm-12.col-md-6 {
    padding: 0;
    margin-top: 20px;
    bottom: 0;
    padding-left: 30px;
  }

  blockquote:before {
    position: relative;
    left: 40px;
    top: 25px;
    font-size: 100px;
  }

  blockquote:after {
    position: relative;
    float: right;

    bottom: 65px;
    font-size: 100px;
  }

  cite {
    text-align: center;
    position: relative;
    left: 80px;
    bottom: 60px;
    width: 80%;
    font-size: 20px;
  }
  /*Gallery section*/

  .the-gallery-section {
    position: relative;
    left: 11%;
    width: 78%;
    margin-bottom: 10%;
  }

  .img-wrapper-first {
    height: 14em;
    width: auto;
    object-fit: contain;
  }

  .img-wrapper-first svg.bi.bi-search {
    position: absolute;
    top: 100%;
  }

  .gallery-hr {
    position: relative;
    width: 20%;
    left: 220px;
    bottom: 37px;
  }

  /*Scroll to top*/
  #scroll-to-top {
    right: 90px;
  }
  /*Footer section*/

  .footer .col-md-12 {
    display: flex;
    justify-content: center;
  }

  .footer div.container.row {
    padding: 0 1.5%;
  }

  .footer .brand-col h5 {
    position: relative;
    right: 25px;
  }
}
@media screen and (min-width: 1201px) {
  /*Nav*/

  .navbar-brand {
    font-size: 55px;
  }
  .navbar-nav {
    font-size: 25px;
  }

  /*Carousel*/

  .textOverCarousel h2.heading {
    font-size: 70px;
  }

  .textOverCarousel p.description {
    font-size: 25px;
  }

  /*menu*/

  .line.col-4 {
    position: relative;
    top: 55px;
  }

  .menu-courses .row {
    margin-right: 5px;
    margin-left: 5px;
  }

  h6.menu {
    font-size: 25px;
  }

  .menu-price {
    text-align: center;
    padding-left: 40px;
  }

  .two {
    padding-right: 30px !important;
  }

  .menu-heading,
  .menu-price {
    font-size: 30px;
  }

  .menu-description {
    font-size: 20px;
  }

  .menu-course-btn {
    font-size: 20px;
    padding: 10px 25px;
  }

  .down {
    width: 10px;
    height: 10px;
    left: 10px;
  }

  /*Featured dishes*/

  .featured-dishes-section {
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 10%;
    width: 90%;
  }

  .subheading-wrapper .featured-dishes-line-hr hr {
    position: relative;
    left: 130px;
    bottom: 55px;
  }

  .featured .carousel-indicators {
    bottom: 70px;
  }

  p.course-name,
  span.course-price {
    font-size: 22px !important;
  }

  /*About us*/
  .about-us-section {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 80%;
  }

  .heading-about-us.container h1 {
    font-size: 50px;
    padding-bottom: 30px;
  }

  div.info-about-us.container.row {
    padding-left: 0;
    height: 250px;
    font-size: 20px;
  }

  .list.col-sm-12.col-md-6 {
    padding-left: 25px;
    position: relative;
    top: 20px;
    height: max-content;
  }

  .first hr {
    margin: 3rem 0;
  }

  blockquote:before {
    left: 30px;
    top: 35px;
  }

  blockquote:after {
    position: relative;
    float: right;
    bottom: 100px;
    right: 35px;
  }
  cite {
    font-size: 25px !important;
    bottom: 100px;
    left: 80px;
    text-align: center;
  }

  /*gallery section*/

  .the-gallery-section {
    position: relative;
    width: 74%;
    left: 12%;
    margin-bottom: 10%;
  }

  .gallery-hr hr {
    position: relative;
    left: 70px;
    bottom: 5px;
  }

  .card {
    height: 30em;
  }

  img.card-img-top {
    height: 15em;
  }

  /*footer*/

  /* div.container.row .footer-col {
    font-size: 25px;
    position: relative;
  } */
}
