:root {
  --orange: #f34949;
  --lighterGrey: #565656;
  --white: #ffffff;
  --styleScriptFont: "Style Script", cursive;
  --cormorantFont: "Cormorant", serif;
  --diphylleiaFont: "Diphylleia", serif;
}

.bg-light {
  --bs-bg-opacity: 1;
  background-color: transparent !important;
}

/* Section: Navbar */
.navbar-brand {
  font-family: var(--styleScriptFont);
  font-weight: 600;
  font-style: italic;
  font-stretch: expanded;
  letter-spacing: 3px;
  font-size: 50px;
  color: #424141;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-expand-md {
  justify-content: space-between;
}

ul {
  display: inline;
}
a.nav-link {
  padding: 0;
  margin-top: 5px;
  display: inline;
  color: var(--lighterGrey);
}
a.nav-link:hover {
  color: var(--orange);
  border-bottom: 1px solid var(--orange);
  border-top: 1px solid var(--orange);
}

.nav-item {
  color: var(--lighterGrey);
  font-family: var(--cormorantFont);
  font-weight: 600;
  letter-spacing: 2px;
  padding-left: 0px 10px;
  border: 1px solid transparent;
  margin: 0px 5px;
}

.navbar-nav {
  font-size: large;
  min-height: 100%;
  text-align: center;
  z-index: 100;
}

.navbar-toggler {
  border: 0;
}

/* Section: Carousel */
.carousel-item {
  max-width: 100%;
}

.carousel-section img {
  border-bottom: 5px solid var(--orange);
  max-height: 40em;
  object-fit: cover;
}

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  background-color: #c3c3c3;
  opacity: 0.5;
}

.carousel-indicators .active {
  background-color: #f34949;
  opacity: 1;
}

.carousel-indicators [data-bs-target]:hover {
  background-color: var(--orange);
}

.carousel-indicators button {
  border-radius: 100%;
}

div.col-8 {
  width: 35%;
}

.heading,
.description {
  position: absolute;
  left: 50%;
  color: var(--white);
  text-shadow: 0.5px 0.5px #000000;
  transform: translate(-50%, -50%);
  z-index: 7;
}

.heading {
  font-family: var(--styleScriptFont);
  font-size: calc(3em + 1vw);
  font-weight: 600;
  top: 45%;
  transform: translate(-50%, -50%);
}

.description {
  font-family: var(--cormorantFont);
  font-weight: 600;
  font-size: calc(0.3em + 1vw);
  top: 60%;
}

/* Section: Menu */
.the-menu {
  padding-top: 0 !important;
}

.container {
  --bs-gutter-x: 0;
}
.menu {
  font-family: var(--cormorantFont);
  font-size: large;
  padding: 15px 20px 20px 20px;
  color: var(--white);
  background-color: var(--orange);
  mask-clip: content-box;
  position: absolute;
}

.menu-courses {
  margin-top: 10%;
  margin-left: 45px;
}

.menu-heading {
  font-weight: 600;
}

.menu-description {
  font-style: italic;
  color: #a1a0a0;
}

.menu-course-info,
.menu-price {
  margin-top: 50px;
  font-family: var(--cormorantFont);
  color: var(--lighterGrey);
}

.d-flex {
  color: var(--lighterGrey);
  align-items: center;
  padding: 10px 0px;
  text-align: center;
}

.line {
  position: relative;
  top: 45px;
}

.triangle {
  border-left: 85px solid transparent;
  border-right: 85px solid transparent;
  border-bottom: 15px solid var(--white);
  position: relative;
  top: 45px;
  overflow: hidden;
}

/*view all menu btn*/
.arrow {
  border: solid var(--white);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  position: relative;
  bottom: 2px;
  left: 10px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.menu-course-btn {
  font-size: medium;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: var(--cormorantFont) !important;
  color: var(--white);
  background-color: var(--orange);
  border: 0;
  padding: 7px 20px 7px 10px;
  max-width: fit-content;
  margin-top: 50px;
}

.row {
  padding-right: 0;
  padding-left: 0;
}
.menu-btn div.row {
  width: 100%;
  justify-content: center;
}

/* Featured-dishes section - card */

.featured.carousel-indicators {
  color: #00000019;
  position: relative;
  justify-content: flex-end;
  margin-right: 0;
  bottom: 60px;
}

h4 {
  font-size: 20px;
  font-weight: 600;
  position: relative;
}

.featured-dishes-line-hr hr {
  width: 200px;
  position: relative;
  left: 40px;
  bottom: 50px;
}

.featured-dishes-line-hr {
  display: inline;
  position: relative;
  width: 20%;
  top: 19px;
  left: 150px;
}

.card-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex: 0 0 auto;
}

.subheading-wrapper {
  padding: 0 40px;
}

.card {
  margin: 0;
  width: calc(100% / 4);
  --bs-card-border-radius: 0;
  --bs-card-border-color: transparent;
}

/* .img-wrapper {
  height: calc(100% / 2);
} */

.card-img-top {
  border-radius: 0;
  object-fit: cover;
  height: 100%;
  /* width: auto; */
  overflow: hidden;
}

.card-body {
  padding: 10px 0px;
  /* flex: 0 0 auto; */
}

.course-info {
  font-weight: 600;
  font-size: larger;
  color: var(--lighterGrey);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.course-likes {
  color: var(--lighterGrey);
}

.featured-dishes-section {
  margin-top: 10%;
  font-family: var(--cormorantFont);
  color: var(--lighterGrey) !important;
}

.course-likes span {
  padding-left: 5px;
}

/* heart svg */

.heart .heart-fill {
  fill: #00000000;
}

.heart .heart-outline {
  fill: var(--lighterGrey);
}

.heart .heart-outline,
.heart .heart-fill {
  transition-property: fill;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

#heart:hover .heart-fill,
#heart:hover .heart-outline {
  cursor: pointer;
  fill: var(--orange);
}

/*about-us-section */

.blockquote {
  font-family: "Special Elite", cursive;
  color: #777777;
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline;
  overflow-wrap: break-word;
}
blockquote {
  font-family: var(--styleScriptFont);
  font-weight: 100;
  font-size: 30px;
  line-height: 1;
  position: relative;
  margin: 0px;
}

blockquote:before,
blockquote:after {
  position: absolute;
  color: #dedede;
  font-size: 8rem;
  width: 4rem;
  height: 4rem;
}

blockquote:before {
  content: "“";
  position: relative;
}

blockquote:after {
  content: "”";
}

cite {
  font-size: calc(0.4em + 1vw);
  display: flex;
  font-family: var(--diphylleiaFont);
  line-height: 1.5;
  position: relative;
  justify-content: flex-start;
  align-content: center;
  /* top: 2rem;
  left: 5rem; */
}

.about-us-section {
  padding: 0px 10px;
  color: var(--lighterGrey);
  font-family: var(--cormorantFont);
}

.about-us-line-hr {
  position: relative;
  left: 120px;
  bottom: 30px;
}

.heading-about-us.container {
  padding: 20px 0px 20px 40px;
}

div.info-about-us.container.row {
  padding-left: 50px;
  /* padding-bottom: 30px; */
}

footer .row {
  --bs-gutter-x: 0;
}

.list.col-sm-12.col-md-6 {
  padding-left: 30px;
  position: relative;
  bottom: 20px;
}

.second.col-sm-12.col-md-6 {
  padding-left: 40px;
}

/*Gallery section*/

div.subheading-wrapper {
  padding: 0 !important;
}
.the-gallery-section {
  margin-bottom: 10%;
  margin-top: 5%;
  padding: 10%;
  color: var(--lighterGrey);
  font-family: var(--cormorantFont);
}

.gallery-hr {
  position: relative;
  width: 20%;
  left: 150px;
  bottom: 30px;
}

div.col-xl-4 {
  padding: 0;
  background-color: rgba(0, 0, 0, 1);
}

.example-image {
  height: 30rem;
}

.h-example-image {
  height: 15rem;
}

.example-image,
.h-example-image {
  width: 100%;
  object-fit: cover;
  transition: 0.5s ease-in-out;
  z-index: 5;
  position: relative;
}

.img-wrapper {
  opacity: 1;
  position: relative;
}

.img-wrapper-first {
  opacity: 1;
  position: relative;
}

svg.bi.bi-search {
  z-index: 10;
  position: absolute;
  left: 45%;
  top: 45%;
  display: none;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
}

.img-wrapper:hover img,
.img-wrapper-first:hover img {
  opacity: 0.3;
}
.img-wrapper:hover svg.bi.bi-search,
.img-wrapper-first:hover svg.bi.bi-search {
  display: block !important;
}

/* Back-to-top section */

#scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  border: none;
  border-radius: 100%;
  background-color: var(--orange);
  color: #fff;
  cursor: pointer;
  display: none;
  z-index: 50;
}
#scroll-to-top:hover {
  background-color: #ff6868;
}

/* Footer */

.footer {
  padding-bottom: 1%;
  background-color: #424141;
  color: #dedede;
  font-family: var(--cormorantFont);
}

.brand.footer {
  font-family: var(--styleScriptFont);
  font-weight: 600;
  font-style: italic;
  letter-spacing: 3px;
  font-size: 50px;
  color: #dedede;
  text-decoration: none;
}

div.col-10 {
  padding-left: 180px;
}

.pixel-hunt {
  cursor: pointer;
}

.list-unstyled.links {
  cursor: pointer;
}

/* Responsive */

@media screen and (max-width: 576px) {
  .about-us-section {
    padding: 10%;
  }

  div.info-about-us.container.row,
  .heading-about-us.container {
    padding-left: 6px;
  }
  .the-gallery-section div.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }
  .about-us-section {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  .second.col-sm-12.col-md-6 {
    padding: 0;
  }

  .first.col-sm-12.col-md-4 {
    padding: 0;
  }
  footer div.container.row {
    padding-left: 10%;
  }

  .about-us-section h4 {
    left: 6px;
  }

  cite {
    justify-content: center;
    bottom: 50px;
  }

  div.blockquote {
    height: 100px;
  }

  blockquote:after {
    position: relative;
    float: right;
    bottom: 50px;
  }

  blockquote:before {
    top: 50px;
  }

  .featured-dishes-section .carousel {
    padding: 10%;
    margin-top: 10%;
  }

  .card-img-top {
    height: 100px;
  }

  .course-info .course-name,
  .course-price,
  .course-likes,
  .course-likes-num {
    font-size: calc(0.4em + 1vw);
  }

  .featured-dishes-line-hr hr {
    width: 20%;
  }

  .menu-btn div.row {
    position: relative;
    left: 10px;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  /*Navbar section*/

  .navbar-brand {
    font-size: 30px;
  }

  /*Carousel section*/

  .heading {
    font-size: calc(2.2em + 1vw);
  }
  .description {
    font-size: calc(0.3em + 1vw);
    word-wrap: nowrap;
  }

  /*Menu section*/

  .menu-section.container {
    padding-left: 0 !important;
  }
  .menu-course-btn {
    font-size: 12px;
    font-family: var(--cormorantFont);
    letter-spacing: 2px;
  }

  div.menu-btn {
    display: flex;
    justify-content: space-evenly;
  }

  .down {
    left: 10px;
  }

  .line-hr hr,
  .gallery-line hr,
  .featured-dishes-line-hr hr {
    width: 20%;
  }

  .img-wrapper img {
    height: 100%;
    object-fit: cover;
  }

  /* Featured dishes section*/

  .course-info .course-name,
  .course-price,
  .course-likes,
  .course-likes-num {
    font-size: calc(0.4em + 1vw);
  }

  img.card-img-top {
    height: 90px;
  }

  div.card-wrapper {
    padding: 0 10% 40px 10%;
  }

  div.subheading-wrapper {
    width: 81%;
    position: relative;
    left: 50px;
    height: 75px;
  }

  .card-wrapper {
    padding-bottom: 75px;
  }

  /*About us section*/

  div.info-about-us.container.row {
    padding-left: 2.3rem;
  }

  .about-us-section {
    padding-left: 15px;
    padding-right: 50px;
    text-align: justify;
  }

  .about-us-section .subheading-wrapper {
    position: relative;
    left: 35px;
  }

  .about-us-line-hr hr {
    width: 20%;
  }
  cite {
    justify-content: center;
    font-size: calc(0.4em + 1vw);
    top: 20px;
  }
  blockquote {
    font-family: var(--styleScriptFont);
    font-weight: 100;
    font-size: 30px;
    line-height: 1;
    position: relative;
    margin-top: 20px;
    padding: 30px;
  }
  blockquote:before {
    content: "“";
  }

  blockquote:after {
    content: "”";
    top: 120px;
    left: 90%;
  }

  blockquote:before,
  blockquote:after {
    position: absolute;
    color: #dedede;
    font-size: 6rem;
  }

  .second.col-sm-12.col-md-6 {
    padding: 0;
  }

  .list.col-sm-12.col-md-6 {
    padding-left: 0;
    padding-top: 15px;
    position: relative;
    bottom: 20px;
  }

  /*Gallery section*/

  .the-gallery-section {
    margin-top: 5%;
    padding: 0 8rem;
  }

  .the-gallery-section div.subheading-wrapper {
    left: 0;
  }

  .img-wrapper-first {
    height: 17em;
    width: auto;
    object-fit: fill;
  }

  /*Footer section*/

  footer div.container.row ul li,
  footer div.container.row div h5 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  footer div.col-sm-12 {
    display: flex;
    justify-content: space-evenly;
    padding: 0px 2.3rem;
  }

  footer div.brand-col h5 span {
    display: flex;
    flex-direction: column;
    justify-content: left;
  }

  .brand-col h5 span a {
    display: flex;
    align-items: left;
  }

  .list-unstyled.links li:hover {
    color: #f34949;
  }

  a.brand.footer:hover {
    color: #a1a0a0;
  }

  .pixel-hunt:hover {
    color: #f34949;
  }
  .card {
    height: 15em;
  }

  div.card-body {
    padding-right: 10px;
  }

  p.course-name,
  span.course-price {
    font-size: 12px;
  }

  span.course-likes-num {
    font-size: 10px;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .img-wrapper-first {
    height: 14em;
    width: auto;
    object-fit: contain;
  }

  img.card-img-top {
    height: 140px;
    overflow: hidden;
  }

  .card {
    height: 20em;
  }

  p.course-name,
  span.course-price {
    font-size: 15px;
  }

  span.course-likes-num {
    font-size: 12px;
  }

  .img-wrapper-first svg.bi.bi-search {
    position: absolute;
    left: 40%;
    top: 100%;
  }

  .img-wrapper svg.bi.bi-search {
    position: absolute;
    left: 40%;
    top: 42%;
  }

  div.container.row {
    display: flex;
    justify-content: center;
    padding-left: 30px;
  }

  div.gallery.row {
    padding: 0;
  }

  h4 {
    right: 12px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1140px) {
  .img-wrapper-first {
    height: 4em;
    width: auto;
    object-fit: contain;
  }

  img.card-img-top {
    height: 190px;
    overflow: hidden;
  }

  .card {
    height: 25em;
  }

  p.course-name,
  span.course-price {
    font-size: 18px;
  }

  span.course-likes-num {
    font-size: 15px;
  }

  svg.bi.bi-search {
    top: 350%;
  }
}

@media screen and (min-width: 1141px) and (max-width: 1200px) {
  .img-wrapper-first {
    height: 14em;
    width: auto;
    object-fit: contain;
  }

  img.card-img-top {
    height: 190px;
  }

  .card {
    height: 25em;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .card {
    height: 30em;
  }

  img.card-img-top {
    height: 15em;
  }
}

@media screen and (min-width: 1401px) {
  .card {
    height: 35em;
  }

  img.card-img-top {
    height: 17em;
  }
}
