:root {
  --orange: #f34949;
  --lighterGrey: #565656;
  --lightestGrey: #cccccc;
  --white: #ffffff;
  --styleScriptFont: "Style Script", cursive;
  --cormorantFont: "Cormorant", serif;
  --diphylleiaFont: "Diphylleia", serif;
}

html {
  scroll-behavior: smooth;
}

.bg-light {
  --bs-bg-opacity: 1;
  background-color: transparent !important;
}

.subheading-wrapper h4 {
  font-family: var(--cormorantFont);
  font-weight: bolder;
}

/* Navbar Section */
.navbar-brand {
  font-family: var(--styleScriptFont);
  font-weight: 600;
  font-style: italic;
  font-stretch: expanded;
  letter-spacing: 3px;
  color: #424141;
  font-size: 60px;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-expand-md {
  justify-content: space-between;
}

ul {
  display: inline;
}
a.nav-link {
  padding: 0;
  margin-top: 5px;
  display: inline;
  color: var(--lighterGrey);
  font-size: 25px;
}

a.nav-link:hover {
  color: var(--orange);
  border-bottom: 1px solid var(--orange);
  border-top: 1px solid var(--orange);
}

.nav-item {
  color: var(--lighterGrey);
  font-family: var(--cormorantFont);
  font-weight: 600;
  letter-spacing: 2px;
  padding-left: 0px 10px;
  border: 1px solid transparent;
}
.navbar-nav {
  min-height: 100%;
  text-align: center;
  z-index: 100;
}

/*Hamburger menu - X transition*/

.navbar-toggler {
  border: 0;
  position: relative;
  display: block;
  transition: all 0.25s ease-in-out;
  color: var(--lighterGrey);
  border-top: 2px solid var(--lighterGrey);
  border-bottom: 2px solid var(--lighterGrey);
  border-radius: 0;
}

.navbar-toggler:before,
.navbar-toggler:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;

  position: absolute;
  top: 50%;
  left: 50%;
  background-color: currentColor;

  transform: translate(-50%, -50%);
  transition: transform 0.25s ease-in-out;
}

.navbar {
  --bs-navbar-toggler-focus-width: 0;
}

button:hover {
  color: var(--lighterGrey);
}

button.is-active {
  border-color: transparent;
  border: 0;
}
button.is-active:before {
  transform: translate(-50%, -50%) rotate(45deg);
}
button.is-active:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.navbar-toggler-icon {
  display: none;
}

/* Carousel image-slider Section*/

.carousel-section img {
  border-bottom: 5px solid var(--orange);
  max-height: 40em;
  object-fit: cover;
}

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  background-color: var(--lightestGrey);
  opacity: 0.5;
}

.carousel-indicators .active {
  background-color: var(--orange);
  opacity: 1;
}

.carousel-indicators [data-bs-target]:hover {
  background-color: var(--orange);
}

.carousel-indicators button {
  border-radius: 100%;
}

/* Carousel - Text over*/

.heading,
.description {
  text-align: center;
  position: absolute;
  left: 50%;
  color: var(--white);
  text-shadow: 0.5px 0.5px #000000;
  transform: translate(-50%, -50%);
  z-index: 7;
}

.heading {
  font-family: var(--styleScriptFont);
  font-weight: 600;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 90px;
}
.description::before,
.description::after {
  content: "-";
}

.description {
  font-family: var(--cormorantFont);
  font-weight: 600;
  top: 60%;
  font-size: 20px;
}

/*Menu Section*/

.menu {
  font-family: var(--cormorantFont);
  font-size: large;
  padding: 15px 20px 25px 20px;
  color: var(--white);
  background-color: var(--orange);
  mask-clip: content-box;
  position: absolute;
}

.triangle {
  border-left: 85px solid transparent;
  border-right: 85px solid transparent;
  border-bottom: 15px solid var(--white);
  position: relative;
  top: 50px;
  overflow: hidden;
}

.menu-courses {
  margin-top: 10%;
  margin-bottom: 5%;
  position: relative;
}

.menu-price {
  text-align: end;
}

.menu-heading,
.menu-price {
  font-weight: bold;
  font-family: var(--cormorantFont);
  font-size: 25px;
}

.menu-description {
  font-family: var(--diphylleiaFont);
  font-size: 14px;
  font-style: italic;
  color: var(--lighterGrey);
}

.menu-course-btn {
  font-size: medium;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: var(--cormorantFont) !important;
  color: var(--white);
  background-color: var(--orange);
  border: 0;
  padding: 7px 20px 7px 10px;
  max-width: fit-content;
}

.arrow {
  border: solid var(--white);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  position: relative;
  bottom: 2px;
  left: 10px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.menu-btn div.row {
  justify-content: center;
}

/*Featured dishes Section*/

#dishes .subheading-wrapper {
  display: flex;
  justify-content: space-between;
}

#dishes hr {
  position: relative;
  left: 225px;
  bottom: 30px;
}

.featured-dishes-section {
  padding-bottom: 10%;
  margin-top: 5%;
  font-family: var(--cormorantFont);
  color: var(--lighterGrey);
}

.course-name,
.course-price {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 20px;
}

.course-likes-num {
  padding-left: 10px;
  font-size: 20px;
}

.course-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card {
  margin: 0;
  margin-bottom: 10%;
  --bs-card-border-radius: 0;
  --bs-card-border-color: transparent;
}

.card-body {
  padding: 0;
  margin-top: 5%;
}

.card-img-top {
  border-radius: 0;
  object-fit: cover;
  height: 250px;
  overflow: hidden;
}

.featured.carousel-indicators {
  color: #00000019;
  position: relative;
  justify-content: flex-end;
  margin-right: 0;
}

.featured.container {
  padding-right: 0;
  padding-left: 0;
}

/* heart svg */

.heart .heart-fill {
  fill: #00000000;
}

.heart .heart-outline {
  fill: var(--lighterGrey);
}

.heart .heart-outline,
.heart .heart-fill {
  transition-property: fill;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

#heart:hover .heart-fill,
#heart:hover .heart-outline {
  cursor: pointer;
  fill: var(--orange);
}

/*About us Section */

#about-us {
  position: relative;
  color: var(--lighterGrey);
  font-family: var(--cormorantFont);
}

#about-us hr {
  width: 20%;
  position: relative;
  left: 135px;
  bottom: 30px;
}

#about-us .first hr.about-us-hr {
  width: 100%;
  position: relative;
  top: 40px;
  left: 0%;
}

#about-us .first,
#about-us .second {
  margin-top: 5%;
}

.info-about-us .list {
  margin-top: 5%;
}

.list.col-sm-12.col-md-6 ul {
  list-style: none;
}

.list.col-sm-12.col-md-6 ul li:before {
  content: "\2022";
  color: var(--orange);
  display: inline-block;
  width: 15px;
  font-size: 15px;
}

.blockquote {
  margin-top: 5%;
  font-family: "Special Elite", cursive;
  color: #777777;
  display: flex;
  justify-content: center;
}
blockquote {
  font-size: 30px;
  line-height: 1;
}

blockquote:before,
blockquote:after {
  color: var(--lightestGrey);
  font-size: 10rem;
  width: 10%;
  height: 10%;
}

blockquote:before {
  content: "“";
  position: relative;
  float: left;
  right: 10%;
}

blockquote:after {
  content: "”";
  position: relative;
  float: right;
  top: 15%;
  left: 30px;
}

cite {
  display: flex;
  font-family: var(--diphylleiaFont);
  font-size: 25px;
  line-height: 1.5;
  text-align: center;
  position: relative;
  left: 5%;
  top: 10%;
}

/*Gallery Section*/

#gallery .row {
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 15%;
}

#gallery hr {
  width: 20%;
  position: relative;
  left: 170px;
  bottom: 30px;
}
.first-col-img {
  padding-right: 0;
}

.first-row-img {
  padding-left: 0;
  padding-right: 0;
}

.second-row-img {
  padding-left: 0;
}

div.col-xl-4 {
  padding: 0; /*??????????????*/
  background-color: rgba(0, 0, 0, 1);
}

.example-image {
  height: 30rem;
}

.h-example-image {
  height: 15rem;
}

.example-image,
.h-example-image {
  width: 100%;
  object-fit: cover;
  transition: 0.5s ease-in-out;
  z-index: 5;
  position: relative;
}

.img-wrapper-first {
  opacity: 1;
  position: relative;
}

svg.bi.bi-search {
  z-index: 10;
  position: absolute;
  display: none;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
}

.img-wrapper-row:hover img,
.img-wrapper-first:hover img {
  opacity: 0.3;
}
.img-wrapper-row:hover svg.bi.bi-search,
.img-wrapper-first:hover svg.bi.bi-search {
  display: block !important;
}

.img-wrapper-first:hover svg.bi.bi-search {
  left: 40%;
  top: 45%;
}

/*Scroll-to-top-Btn Section*/

#scroll-to-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 20px;
  border: none;
  border-radius: 100%;
  background-color: var(--orange);
  color: #fff;
  cursor: pointer;
  display: none;
  z-index: 50;
}

#scroll-to-top:hover {
  background-color: #cf4c4c;
  opacity: 0.7;
  transition: 0.5s ease-in-out;
}

/*Footer Section*/

.footer {
  background-color: #424141;
  color: var(--lightestGrey);
  font-family: var(--cormorantFont);
}

.pixelhint-link:hover {
  cursor: pointer;
  color: var(--orange);
}

.list-unstyled a.links {
  text-decoration: none;
  color: var(--white);
}
#footer a.navbar-brand {
  font-size: 45px;
}

.list-unstyled a.links:hover {
  color: var(--orange);
}

.list-unstyled a.navbar-brand:hover {
  color: var(--lightestGrey) !important;
}
