:root {
  --orange: #f34949;
  --lighterGrey: #565656;
  --white: #ffffff;
  --styleScriptFont: "Style Script", cursive;
  --cormorantFont: "Cormorant", serif;
  --diphylleiaFont: "Diphylleia", serif;
}

.bg-light {
  --bs-bg-opacity: 1;
  background-color: transparent !important;
}

/* Section: Navbar */
.navbar-brand {
  font-family: var(--styleScriptFont);
  font-weight: 600;
  font-style: italic;
  font-stretch: expanded;
  letter-spacing: 3px;
  font-size: 50px;
  color: #424141;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-expand-md {
  justify-content: space-between;
}

ul {
  display: inline;
}
a.nav-link {
  padding: 0;
  margin-top: 5px;
  display: inline;
  color: var(--lighterGrey);
}
a.nav-link:hover {
  color: var(--orange);
  border-bottom: 1px solid var(--orange);
  border-top: 1px solid var(--orange);
}

.nav-item {
  color: var(--lighterGrey);
  font-family: var(--cormorantFont);
  font-weight: 600;
  letter-spacing: 2px;
  padding-left: 0px 10px;
  border: 1px solid transparent;
  margin: 0px 5px;
}

.navbar-nav {
  font-size: large;
  min-height: 100%;
  text-align: center;
  z-index: 100;
}

.navbar-toggler {
  border: 0;
}

.navbar-light .navbar-toggler {
  border-color: transparent;
}

/* Section: Carousel */
.carousel-item {
  max-width: 100%;
}

.carousel-section img {
  border-bottom: 5px solid var(--orange);
  max-height: 40em;
  object-fit: cover;
}

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  background-color: #c3c3c3;
  opacity: 0.5;
}

.carousel-indicators .active {
  background-color: #f34949;
  opacity: 1;
}

.carousel-indicators [data-bs-target]:hover {
  background-color: var(--orange);
}

.carousel-indicators button {
  border-radius: 100%;
}

div.col-8 {
  width: 35%;
}

.heading,
.description {
  position: absolute;
  left: 50%;
  color: var(--white);
  text-shadow: 0.5px 0.5px #000000;
  transform: translate(-50%, -50%);
  z-index: 7;
}

.heading {
  font-family: var(--styleScriptFont);
  font-size: calc(3em + 1vw);
  font-weight: 600;
  top: 45%;
  transform: translate(-50%, -50%);
}

.description {
  font-family: var(--cormorantFont);
  font-weight: 600;
  font-size: calc(0.3em + 1vw);
  top: 60%;
}

/* Section: Menu */
.the-menu {
  padding-top: 0 !important;
}
.menu {
  font-family: var(--cormorantFont);
  font-size: large;
  padding: 15px 20px 20px 20px;
  color: var(--white);
  background-color: var(--orange);
  mask-clip: content-box;
  position: absolute;
}

.menu-courses {
  margin-top: 50px;
  margin-left: 45px;
}

.menu-heading {
  font-weight: 600;
}

.menu-description {
  font-style: italic;
  color: #a1a0a0;
}

.menu-course-info,
.menu-price {
  margin-top: 50px;
  font-family: var(--cormorantFont);
  color: var(--lighterGrey);
}

.d-flex {
  color: var(--lighterGrey);
  align-items: center;
  padding: 10px 0px;
  text-align: center;
}

.line {
  position: relative;
  top: 45px;
}

.triangle {
  border-left: 85px solid transparent;
  border-right: 85px solid transparent;
  border-bottom: 15px solid var(--white);
  position: relative;
  top: 45px;
  overflow: hidden;
}

.arrow {
  border: solid var(--white);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  position: relative;
  bottom: 2px;
  left: 6px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.menu-course-btn {
  font-size: medium;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: var(--cormorantFont) !important;
  color: var(--white);
  background-color: var(--orange);
  border: 0;
  padding: 7px 20px 7px;
  max-width: fit-content;
  margin-top: 50px;
}

.row {
  padding-right: 0;
}
div.row {
  width: 100%;
  justify-content: center;
}

/* Featured-dishes section - card */

.featured.carousel-indicators {
  color: #00000019;
  position: relative;
  justify-content: flex-end;
  margin-right: 0;
  bottom: 60px;
}

h4 {
  font-size: 20px;
  font-weight: 600;
  position: relative;
}

.line-hr hr {
  width: 200px;
  position: relative;
  left: 200px;
  bottom: 50px;
}

.line-hr {
  display: inline;
  position: relative;
  width: 20%;
  top: 19px;
}

.card-wrapper {
  display: flex;
  justify-content: space-evenly;
  padding: 0px 40px;
  flex: 0 0 auto;
}

.subheading-wrapper {
  padding: 0 40px;
}

.card {
  margin: 0;
  width: calc(100% / 4);
  --bs-card-border-radius: 0;
  --bs-card-border-color: transparent;
}

.img-wrapper {
  height: calc(100% / 2);
}

.card-img-top {
  border-radius: 0;
  object-fit: cover;
  height: 100%;
  /* width: auto; */
  overflow: hidden;
}

.card-body {
  padding: 10px 0px;
  /* flex: 0 0 auto; */
}

.course-info {
  font-weight: 600;
  font-size: larger;
  color: var(--lighterGrey);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.course-likes {
  color: var(--lighterGrey);
}

.featured-dishes-section {
  margin-top: 20%;
  font-family: var(--cormorantFont);
  color: var(--lighterGrey) !important;
}

.course-likes span {
  padding-left: 5px;
}

/* heart svg */

.heart .heart-fill {
  /* notice the defined alpha component. you could also use opacity though, of course */
  fill: #00000000;
}

.heart .heart-outline {
  fill: var(--lighterGrey);
}

.heart .heart-outline,
.heart .heart-fill {
  transition-property: fill;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

/* this uses the bounding box of the whole svg for hovering, which is perfectly fine for small buttons, but may be slightly problematic for using this svg in a larger size (.heart-fill:hover + .heart-outline should work for that case though) */
#heart:hover .heart-fill,
#heart:hover .heart-outline {
  fill: var(--orange);
}

/*about-us-section */

.blockquote {
  font-family: "Special Elite", cursive;
  color: #777777;
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline;
  overflow-wrap: break-word;
}
blockquote {
  font-family: var(--styleScriptFont);
  font-weight: 100;
  font-size: 30px;
  line-height: 1;
  position: relative;
  margin: 0px;
}

blockquote:before,
blockquote:after {
  position: absolute;
  color: #dedede;
  font-size: 8rem;
  width: 4rem;
  height: 4rem;
}

blockquote:before {
  content: "“";
  left: 30px;
  top: 20px;
}

blockquote:after {
  content: "”";
  top: 10rem;
  left: 30rem;
}

cite {
  display: flex;
  font-family: var(--diphylleiaFont);
  line-height: 1.5;
  position: relative;
  justify-content: flex-start;
  align-content: center;
  top: 2rem;
  left: 4rem;
}

.about-us-section {
  padding: 0px 30px;
  color: var(--lighterGrey);
  font-family: var(--cormorantFont);
}

.heading-about-us.container {
  padding: 20px 0px 30px 40px;
}

div.info-about-us.container.row {
  padding-left: 40px;
  padding-bottom: 30px;
}

.list.col-sm-12.col-xxl-6 {
  padding-left: 25px;
}
/* Responsive */
@media screen and (min-width: 0px) and (max-width: 768px) {
  .menu-section {
    columns: 1;
  }

  .navbar-brand {
    font-size: 30px;
  }
  .heading {
    font-size: calc(2.2em + 1vw);
  }
  .description {
    font-size: calc(0.3em + 1vw);
    word-wrap: nowrap;
  }

  .menu-course-btn {
    font-size: 12px;
    font-family: var(--cormorantFont);
    font-weight: 300;
  }

  .down {
    left: 10px;
  }

  .course-info .course-name,
  .course-price,
  .course-likes,
  .course-likes-num {
    font-size: calc(0.4em + 1vw);
  }

  .line-hr hr {
    width: 20%;
  }

  .card-wrapper {
    padding-bottom: 75px;
  }

  .img-wrapper {
    height: calc(100% / 2vh);
  }

  .img-wrapper img {
    height: 100%;
    object-fit: cover;
    padding-right: 10px;
  }

  cite {
    left: 0;
  }

  blockquote:before {
    content: "“";
    right: -100px;
  }

  blockquote:after {
    content: "”";
    top: 200px;
    left: 250px;
  }

  blockquote:before,
  blockquote:after {
    position: absolute;
    color: #dedede;
    font-size: 6rem;
  }
}
