:root {
  --orange: #f34949;
  --lighterGrey: #565656;
  --white: #ffffff;
  /* --kristiFont: "Kristi", cursive; */
  --eczarFont: "Eczar", serif;
  --styleScriptFont: "Style Script", cursive;
}

/* Section: Navbar */
.navbar-brand {
  font-family: var(--styleScriptFont);
  font-weight: 600;
  font-style: italic;
  font-stretch: expanded;
  letter-spacing: 3px;
  font-size: 50px;
  color: #424141;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-expand-md {
  justify-content: space-between;
}

ul {
  display: inline;
}
a.nav-link {
  padding: 0;
  margin-top: 5px;
  display: inline;
  color: var(--lighterGrey);
}
a.nav-link:hover {
  color: var(--orange);
  border-bottom: 1px solid var(--orange);
  border-top: 1px solid var(--orange);
}

.nav-item {
  color: var(--lighterGrey);
  font-family: var(--eczarFont);
  padding-left: 0px 10px;
  border: 1px solid transparent;
  margin: 0px 5px;
}

.navbar-nav {
  font-size: large;
  min-height: 100%;
  text-align: center;
  z-index: 100;
}

.navbar-toggler {
  border: 0;
}

.navbar-light .navbar-toggler {
  border-color: transparent;
}

/* Section: Carousel */
.carousel-item {
  max-width: 100%;
}

.carousel-section img {
  border-bottom: 5px solid var(--orange);
  max-height: 40em;
  object-fit: cover;
}

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  background-color: var(--orange);
}

.carousel-indicators [data-bs-target]:hover {
  background-color: var(--orange);
}

.carousel-indicators button {
  border-radius: 100%;
}

div.col-8 {
  width: 35%;
}

.heading,
.description {
  position: absolute;
  left: 50%;
  color: var(--white);
  text-shadow: 0.5px 0.5px #000000;
  transform: translate(-50%, -50%);
  z-index: 7;
}

.heading {
  font-family: var(--styleScriptFont);
  font-size: calc(3em + 1vw);
  font-weight: 600;
  top: 45%;
  transform: translate(-50%, -50%);
}

.description {
  font-family: var(--eczarFont);
  font-size: calc(0.2em + 1vw);
  top: 60%;
}

/* Section: Menu */
.the-menu {
  padding-top: 0 !important;
}
.menu {
  font-family: var(--eczarFont);
  font-size: large;
  padding: 15px 20px 20px 20px;
  color: var(--white);
  background-color: var(--orange);
  mask-clip: content-box;
  position: absolute;
}

.menu-courses {
  margin-top: 50px;
}

.menu-description {
  font-style: italic;
  color: #a1a0a0;
}

.menu-course-info,
.menu-price {
  margin-top: 50px;
  padding-left: 50px;
  font-family: var(--eczarFont);
  color: var(--lighterGrey);
}

.d-flex {
  color: var(--lighterGrey);
  align-items: center;
  padding: 10px 0px;
  text-align: center;
}

.line {
  position: relative;
  top: 45px;
}

.triangle {
  border-left: 85px solid transparent;
  border-right: 85px solid transparent;
  border-bottom: 15px solid var(--white);
  position: relative;
  top: 45px;
  overflow: hidden;
}

.arrow {
  border: solid var(--white);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  position: relative;
  bottom: 2px;
  left: 6px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.menu-course-btn {
  font-size: small;
  letter-spacing: 1px;
  font-family: var(--eczarFont) !important;
  color: var(--white);
  background-color: var(--orange);
  border: 0;
  padding: 7px 20px 7px;
  max-width: fit-content;
  margin-top: 50px;
}

div.row {
  justify-content: center;
}

/* Featured-dishes section - card */

.featured.carousel-indicators {
  bottom: 100%;
  position: relative;
  justify-content: flex-end;
  margin: 20px 0;
  left: 1.9%;
}

h4 {
  font-size: 20px;
}

div.col-3 {
  right: 30px;
  top: 20%;
  position: relative;
}

.line-hr {
  display: inline;
  position: relative;
  width: 20%;
  top: 19px;
}

div.card-body {
  padding: 10px 0;
}

.card-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.card {
  margin: 0;
  width: calc(100% / 4);
  --bs-card-border-radius: 0;
  --bs-card-border-color: transparent;
}

.img-wrapper {
  height: calc(100% / 2);
}

.img-wrapper img {
  height: 100%;
  object-fit: cover;
}

.card-wrapper {
  justify-content: space-evenly;
}

.card-img-top {
  border-radius: 0;
}

.featured-dishes-section {
  margin-top: 5%;
  font-family: var(--eczarFont);
  color: var(--lighterGrey);
}

/* Responsive */
@media screen and (min-width: 0px) and (max-width: 768px) {
  .menu-section {
    columns: 1;
  }

  .navbar-brand {
    font-size: 30px;
  }
  .heading {
    font-size: calc(2.2em + 1vw);
  }
  .description {
    font-size: calc(0.3em + 1vw);

    word-wrap: nowrap;
  }

  .menu-course-btn {
    font-size: 12px;
    font-family: var(--eczarFont);
  }

  .down {
    left: 10px;
  }

  .img-wrapper {
    height: calc(100% / 2vh);
  }

  .img-wrapper img {
    height: 100%;
    object-fit: cover;
    padding-right: 10px;
  }
}
